body {
	font: 12px Arial, Tahoma, Verdana, sans-serif;
  }
  
  /* DIV CONTENEDOR GENERAL */
  #wrapper {
	max-width: 100%;
	margin: 0;
  }
  
  /* Header */
  body {
	margin-top: 250px;
	padding: 0;
	background: url('../images/background.jpeg') no-repeat center fixed;
	background-size: cover; 
  }
  
  /* Middle */
  #middle {
	background-color: grey; 
	overflow: auto;
  }
  
  #content {
	width: 100%;
	float: center;
	background-color: grey; 
  }
  
  /* Footer */
  #footer {
	display: flex; 
	align-items: flex-start;
	justify-content: space-between; 
	background: #2F3A4A;
	padding: 10px;
  } 
  
  /* Estilos para los iconos de redes sociales */
  .logo-social { 
	width: 40px;
	height: 40px;
	fill: white; /* Color inicial del icono (si es SVG) */
  }
  
  .logo-social:hover { 
	transform: scale(1.2);
	fill: #fd8151; /* Color del icono al pasar el ratón (si es SVG) */
	transition: fill 0.3s ease, transform 0.3s ease;
  }
  
  /* Estilos para los enlaces de texto */
  .info-adicional {
	font-size: 15px;
	text-decoration: underline;
	color: white;
  }
  
  .info-adicional:hover {
	transform: scale(1.2);
	color: #fd8151; 
	transition: color 0.3s ease, transform 0.3s ease;
  }